<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ServletBienvenida</servlet-name>
        <servlet-class>jonathancastaneda.servlet.ServletBienvenida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOperacionArtmetica</servlet-name>
        <servlet-class>jonathancastaneda.servlet.ServletOperacionArtmetica</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBienvenida</servlet-name>
        <url-pattern>/ServletBienvenida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOperacionArtmetica</servlet-name>
        <url-pattern>/ServletOperacionArtmetica</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
