<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Servlet_RC19102</servlet-name>
        <servlet-class>carlos.servlets.Servlet_RC19102</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>operacion1</servlet-name>
        <servlet-class>operaciones.servlet.operacion1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_RC19102</servlet-name>
        <url-pattern>/Servlet_RC19102</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>operacion1</servlet-name>
        <url-pattern>/operacion1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
